* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.obj-img {
    margin: 0 auto;
    width: 637px;
}
.obj-img img {
    object-fit: scale-down;
    width: 100%;
    height: 457px;
    transition: transform .2s;
}
.obj-img img:hover {
    transform: scale(1.3);
}
.xborder{
    border: 3px solid rgb(10, 27, 94);
    border-radius: 4%;
    background-color: white;
    overflow: hidden;
}
