* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*                                                         Body */
body ul {
    list-style: none;
}

body a {
    text-decoration: none;
    color: black;
}

/*                                                        top_header */
.top_header {
    background-color: antiquewhite;
}

.main_top_nav1 {
    justify-content: start;
}

.main_top_nav2 {
    justify-content: end;
}

.top_nav {
    display: flex;
    font-size: 15px;
    margin: 10px 0;
    padding: 0;
}

.top_nav1 {
    padding-right: 16px;

}

.top_nav2 {
    padding-right: 5px;
}

/*                                                      md_header */
.section_one{
    height: 450px;
}
.carousel_data_1 img {
    height: 450px;
    width: 100%;
    object-fit: inherit;
    object-position: center;
}

.carousel_data_2 img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.carousel_data_3 img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*                                       News  section*/
.btnMore {
    float: right;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.1px;
    font-size: 14px;
}

.btnMore:hover {
    text-decoration: dashed;
    color: blue;
}

.tabPanelBox {
    height: 300px;
    border: 10px solid #4443472e;
    padding: 0 0 15px;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    background: transparent;
}

.tabPanelBox-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translateY(100%);
    animation: waqar 10s linear infinite;
}

.tabPanelBox-slide:hover{
    animation-play-state: paused;
}

@keyframes waqar {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.leaderArea{
    border: 1px solid beige;
    z-index: 0;
}
.leader {
    z-index: 1;
}
.leaderimg {
    width: 100px;
    height: 150px;
}
.leaderimg img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 20%;
}
.leaderdata{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
