.main-header1 {
    background-color: #064bb6;
    padding: 12px;
    margin: 0px 0px 10px 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight:bold;
    text-align:center;
}
.card-header1 {
    background-color: #064bb6;
    padding: 9px;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
.child-header1 {
    color: #064bb6;
    margin-top: 15px;
    font-size: 1rem;
    font-weight:bold;
}

.child-header2 {
    background-color: #064bb6;
    padding: 10px;
    margin: 15px 0px;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight:bold;
}
.child-header2-a {
    color: #ffffff;
    text-decoration:none;
}
.child-header2-a:hover {
    background-color: #ffffff;
    color: #064bb6;
    text-decoration:none;
}
.child-header3 {
    border-bottom: 3px solid #064bb6;
    padding: 10px;
    margin: 15px 0px;
    color: #064bb6;
    font-size: 0.9rem;
    font-weight: bold;
}

.child-header3a {
    border-bottom: 3px solid #064bb6;
    padding: 5px;
    margin: 10px 0px;
    color: #064bb6;
    font-size: 0.9rem;
    font-weight: bold;
}
.form-card{
    padding:10px;
}
.form-mandatory {
    color: #ff0000;
}
.form-label {
    font: normal 14px verdana;
    color: #064bb6;
}
.ans-label {
    font: normal 14px verdana;
    color: #000000;
}
/*-----------------------------------DASHBOARD CIRCLE MENU--------------------------------*/
.circlemenu-row {
    float: left;
    width: 100%;
}

.circlemenu-row .block {
    float: left;
    width: 25%;
    height: 150px;
}

.circlemenu {
    display: inline-block;
    font-size: 15px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}

    .circlemenu.small {
        font-size: 20px;
        line-height: 45px;
        width: 45px;
        height: 45px;
        margin: 7px;
    }

    .circlemenu.mini {
        font-size: 15px;
        line-height: 32px;
        width: 30px;
        height: 30px;
        margin: 7px;
    }

    .circlemenu.auto-width {
        width: auto;
        height: auto;
        padding: 15px;
    }

    .circlemenu:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .circlemenu:before {
        speak: none;
        font-size: 48px;
        line-height: 90px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
    }
    /* Effect 1 */
    .circlemenu.effect-1 {
        background: rgba(4, 51, 150, 0.10);
        color: #0c3d89;
        border: 1px solid #0c3d89;
        -webkit-transition: background 0.2s, color 0.2s;
        -moz-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s;
    }

        .circlemenu.effect-1:after {
            top: -7px;
            left: -7px;
            padding: 7px;
            box-shadow: 0 0 0 4px #0c3d89;
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -webkit-transform: scale(.8);
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            transition: transform 0.2s, opacity 0.2s;
            transform: scale(.8);
            opacity: 0;
        }
        /* Effect 1a */
        .circlemenu.effect-1.sub-a:hover {
            background: #004ea3;
            color: #ffffff;
        }

            .circlemenu.effect-1.sub-a:hover i {
                color: #ffffff;
            }

            .circlemenu.effect-1.sub-a:hover:after {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
/*-------------------GRID VIEW------------------------*/
.gv {
    width: 100%;
    margin-top:5px;
    margin-bottom:10px;
}

.gv-header {
    background-color: #0150be;
    color: #ffffff;
    font-size: 0.8rem;
     font-weight : bold;
    text-align: center;
    text-transform: uppercase;
}

.gv-footer {
    background-color: #0150be;
    color: #ffffff;
    font-size: 0.8rem;
     font-weight : bold;
    padding: 6px 0px;
}

.gv-headeritem {
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #2e99b6;
}

.gv-row {
    background-color: #ffffff;
    color: #000000;
    font-size: 0.8rem;
    padding: 6px 0px;
}

    .gv-row:hover {
        background-color: #a1c8ff;
        color: #0150be;
        font-size: 0.8rem;
    }

.gv-row-alt {
    background-color: #e5f0ff;
    border: 1px solid #2e99b6;
}

.gv-item-left {
    padding: 6px 6px 6px 6px;
    text-align: left;
    border: 1px solid #2e99b6;
}

.gv-item-right {
    padding: 6px 6px 6px 6px;
    text-align: right;
    border: 1px solid #2e99b6;
}

.gv-item-center {
    padding: 6px 6px 6px 6px;
    text-align: center;
    border: 1px solid #2e99b6;
}
.gv-col-hide
{
    display:none;
}
.gv-cmnd-butt
{
    text-decoration:none;
    color: #2e99b6;
    font-size: 0.8rem;
    padding: 6px 2px;
}
.gv-cmnd-butt:hover
{
    color: #0150be;
}


/*-------------------TABLES------------------------*/
.tbl {
    width: 100%;
    margin-top:5px;
    margin-bottom:10px;
}

.tbl-header {
    background-color: #b0d1ff;
    color: #000000;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tbl-headeritem {
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #b0d1ff;
}

.tbl-row {
    background-color: #ffffff;
    color: #000000;
    font-size: 0.8rem;
    padding: 6px 0px;
}


.tbl-item-left {
    padding: 6px 6px 6px 6px;
    text-align: left;
    border: 1px solid #b0d1ff;
}

.tbl-item-right {
    padding: 6px 6px 6px 6px;
    text-align: right;
    border: 1px solid #b0d1ff;
}

.tbl-item-center {
    padding: 6px 6px 6px 6px;
    text-align: center;
    border: 1px solid #b0d1ff;
}

.tbl-col-hide {
    display: none;
}



/* -------------------------- SLIDER TOGGLE SWITCH FOR CHECKBOX------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        margin: 2px 0px 2px 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 20px;
}

    .slider.round:before {
        border-radius: 50%;
    }

    /* ------------------- LOADER ---------------------------------------*/

.progress_modal
    {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        background-color: white;
        filter: alpha(opacity=70);
        opacity: 0.8;
        -moz-opacity: 0.9;
    }
    .progress_center
    {
        
        width: 200px;
        padding: 10px;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }
    .loader{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transform: rotate(-45deg);
    font-size: 0;
    line-height: 0;
    animation: rotate-loader 5s infinite;
    padding: 25px;
    border: 1px solid #0150be;
}
.loader .loader-inner{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
}
.loader .loading{
    position: absolute;
    background: #0150be;
}
.loader .one{
    width: 100%;
    bottom: 0;
    height: 0;
    animation: loading-one 1s infinite;
}
.loader .two{
    width: 0;
    height: 100%;
    left: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.25s;
}
.loader .three{
    width: 0;
    height: 100%;
    right: 0;
    animation: loading-two 1s infinite;
    animation-delay: 0.75s;
}
.loader .four{
    width: 100%;
    top: 0;
    height: 0;
    animation: loading-one 1s infinite;
    animation-delay: 0.5s;
}
@keyframes loading-one {
    0% {
        height: 0;
        opacity: 1;
    }
    12.5% {
        height: 100%;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 0;
    }
}
@keyframes loading-two {
    0% {
        width: 0;
        opacity: 1;
    }
    12.5% {
        width: 100%;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
@keyframes rotate-loader {
    0% {
        transform: rotate(-45deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(-135deg);
    }
    45% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(-225deg);
    }
    70% {
        transform: rotate(-225deg);
    }
    75% {
        transform: rotate(-315deg);
    }
    95% {
        transform: rotate(-315deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

/* ------------------- LOADER ---------------------------------------*/
.data_modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/ASSETS/IMAGES/trans.png');
}

.data_center {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}