
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    color: #212529;
}

body li {
    list-style: none;
}


.two {
    padding: 0px;
}

.img1 img{
    width:100%;
    height: 440px;
    object-fit: inherit;
    object-position:center;
}
.two img {
    width:100%;
    height: 440px;
    object-fit: inherit;
    object-position:center;
}
.m_one{
    font-size:13px;
    text-align: justify;
}
.one {
    font-size:13px;
    text-align: justify;
}
.products {
    margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
    .m_one{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
  }