<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
  <div class="nav">
    <div class="logo">
      <img src="assets/Images/SKR LOGO.png" alt="LOGO">
      <h3>SKR <span style="color: #fbbf53;">CATERING</span></h3>
    </div>
    <ul class="nav_item">
      <li> <a href="">Home</a></li>
      <li> <a href="">About</a></li>
      <li> <a href="">Conduct Us</a></li>
      <li> <a href="">Services</a></li>
    </ul>
    <div class="menu-icon">
      <div class="menu-i"></div>
      <div class="menu-i"></div>
      <div class="menu-i"></div>
    </div>
  </div>
</div>
